.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 128px;
    height: 35px;
    background: #17D9B1;
    border-radius: 8px;
    border: none;
    flex: none;
    
    order: 1;
    flex-grow: 0;
    
    font-family: 'Inter',;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #212121;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.8;
    cursor: pointer;

}
